.buttonWrapper {
  display: flex;
  gap: 10px;
}
.optionButton {
  color: inherit;
  background-color: rgb(107, 105, 100);
  border: 2px rgb(66, 65, 61);
  border-radius: 4px;
  transition: background-color 0.3s;
}

.optionButton:hover {
  background-color: rgb(192, 187, 175);
}



.optionButton:active {
  background-color: rgb(204, 132, 168);
  transition: background-color 0.3s;
}
.optionButton:focus {
     background-color: rgb(192, 187, 175);
}

.optionButton:focus:not(:hover) {
  background-color: rgb(107, 105, 100); 

}
